{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'books:book-list' %}">Book List</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ exercise.chapter.book.get_absolute_url }}">{{ exercise.chapter.book.title }}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ exercise.chapter.get_absolute_url }}">{{ exercise.chapter.title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ exercise.title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class='row'>
        <main class='col-md-4 mx-auto'>
            <div class="card" style="width: 20rem;">
                <div class="card-header text-center">{{ exercise.chapter.book.title }}</div>
                <img src="{{ exercise.chapter.book.cover.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Published: {{ exercise.chapter.book.publication_date }}</p>
                </div>
            </div>
        </main>

        <aside class='col mx-auto text-center'>
            <div class="card " style="width:100%;">
                <div class="card-header">
                Solutions
                </div>

                {% if exercise.chapter.book in request.user.userlibrary.book_list %}

                    <div class="accordion" id="accordionExample">
                        {% for solution in exercise.solution_set.all %}
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-{{ solution.solution_number }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ solution.solution_number }}" aria-expanded="true" aria-controls="collapse-{{ solution.solution_number }}">
                                    Solution {{ solution.solution_number }}
                                </button>
                            </h2>
                            <div id="collapse-{{ solution.solution_number }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ solution.solution_number }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <img src="{{ solution.image.url }}" class="card-img-top" alt="...">
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                
                {% else %}
                    <h4 class="text-center px-4 py-2" style="letter-spacing: 1.5px;">You do  not have acces to this book. <a href="#">Please Purchase this book</a> to have access to the solutions</h4>
                    <img src="{% static 'images/lock.png' %}" alt="" class="mx-auto" style="width:30%;">
                {% endif %}

            </div>
        </aside>
    </div>


{% endblock content %}

